.col {
    height: auto;
    text-align: center;
    position: relative;
}

.textBody {
    margin:0;
    font-weight: bold;
    font-size: 15px;
}

.indexName {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.positiveChange {
    background-color: #e6ffe6;
    border-color: #28a745;
    color: #28a745;
}

.negativeChange {
    background-color: #ffe6e6;
    border-color: #dc3545;
    color: #dc3545;
}